<div class="container animate fadeIn" fxLayout="row">
  <div fxFlex="100%">
    <div class="container__banner">
      <div class="banner__text">
        <span class="banner__title">Martin Barria Joost</span>
        <p>FRONTEND DEVELOPER</p>
        <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
    <div class="container__body">
      <span class="body__subtitle">Un poco sobre mi historia</span>
      <br> 
      <p class="subtitle__history">
        EN CONSTRUCCIÓN
      </p>
    </div>
  </div>
</div>