<div class="container animated zoomIn" fxLayout="row" fxLayoutAlign="center none">
  
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h3>Contacto</h3>
        <mat-nav-list>
          <a mat-list-item href="mailto:martinjoostw@gmail.com">
            <p mat-line> martinjoostw@gmail.com </p>
            <mat-icon> email </mat-icon>
          </a>
          <a mat-list-item href="tel:+56999859707">
            <p mat-line> +56 9 99859707 </p>
            <mat-icon> stay_current_portrait </mat-icon>
          </a>
       </mat-nav-list>

      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-content>
        <h3>Redes sociales</h3>
        <mat-nav-list>
          <a mat-list-item href="https://www.linkedin.com/in/martinbjoost/" target="_blank">
            <p mat-line> @martinbjoost </p>
            <i class="fab fa-linkedin"></i>
          </a>
          <a mat-list-item href="https://www.instagram.com/martiniscode" target="_blank">
            <p mat-line> @martiniscode </p>
            <i class="fab fa-instagram"></i>
          </a>
          <a mat-list-item href="https://twitter.com/BarriaJoost" target="_blank">
            <p mat-line> @barriajoost </p>
            <i class="fab fa-twitter"></i>
          </a>
       </mat-nav-list>
      </mat-card-content>
    </mat-card>

  </div>
</div>