<div class="container animated fadeIn" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content style="text-align: center;">
        <div style="font-size: 2em;">
          <i class="fas fa-hand-holding-heart"></i>
          <br>
          <span>Tecnologías aplicadas a lo largo de mi vida</span>
        </div>
        <br>
        <br>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Lenguajes">
            <mat-list>
              <mat-list-item>
                <i matListIcon class="fab fa-html5"></i>
                <p matLine>
                  <span>HTML 5</span>
                </p>
              </mat-list-item>
              <mat-list-item>
                <i matListIcon class="fab fa-css3"></i>
                <p matLine>
                  <span>CSS3</span>
                </p>
              </mat-list-item>
              <mat-list-item>
                <img matListIcon style="width: 1em;"
                  src="https://www.stickpng.com/assets/images/5847f289cef1014c0b5e486b.png" alt="">
                <p matLine>
                  <span>DART</span>
                </p>
              </mat-list-item>
              <mat-list-item>
                <i matListIcon class="fab fa-js"></i>
                <p matLine>
                  <span>JAVASCRIPT</span>
                </p>
              </mat-list-item>
              <mat-list-item>
                <img matListIcon style="width: 1em;"
                src="https://classes.engineering.wustl.edu/cse231/core/images/2/26/Java.png" alt="">
                <p matLine>
                  <span>JAVA</span>
                </p>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Frameworks"> 
            <mat-list>
              <mat-list-item mat-list-item>
                <img matListIcon style="width: 1em;"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" alt="">
                <button mat-line mat-flat-button (click)="openBottomSheet()">ANGULAR <span class="material-icons">
                  trending_up
                  </span></button>
              </mat-list-item>
              <mat-list-item mat-list-item>
                <p mat-line> REACTJS </p>
                <i matListIcon class="fab fa-react"></i>
              </mat-list-item>
              <mat-list-item>
                <img matListIcon style="width: 1em;"
                  src="https://cdn.worldvectorlogo.com/logos/flutter-logo.svg" alt="">
                <p matLine>
                  <span>DART</span>
                </p>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Otras librerías"> 
            <mat-list>
              <mat-list-item mat-list-item>
                <img  matListIcon style="border-radius: 0px;width: auto;"
                src="https://miro.medium.com/max/520/1*ytpzQXUtyJx2xD2j1iRIZA.png" alt="">
                <a  target="_blank" href="https://angular.io/guide/universal" mat-line mat-flat-button >ANGULAR UNIVERSAL   </a>
              </mat-list-item>
              <mat-list-item mat-list-item>
                <img matListIcon style="border-radius: 0px;width: auto;"
                src="https://user-images.githubusercontent.com/3104648/28351989-7f68389e-6c4b-11e7-9bf2-e9fcd4977e7a.png" alt="">
                <a style="margin-left: -5%;" target="_blank" mat-line mat-flat-button href="https://angular.io/guide/service-worker-getting-started">ANGULAR PWA  </a>
              </mat-list-item>
              <mat-list-item mat-list-item>
                <img matListIcon style="width: 40px;height: 40px;"
                src="https://img.icons8.com/color/480/firebase.png" alt="">
                <a target="_blank" mat-line mat-flat-button  href="https://firebase.google.com/" >FIREBASE  </a>
              </mat-list-item>
              <mat-list-item mat-list-item>
                <img matListIcon style="width: 40px;height: 40px;"
                src="https://img.icons8.com/color/480/nodejs.png" alt="">
                <a target="_blank" mat-line mat-flat-button href="https://nodejs.org/es/" >NODEJS  </a>
              </mat-list-item>
              <mat-list-item mat-list-item>
                <img matListIcon style="width: 40px;height: 40px;"
                src="https://www.w3big.com/highcharts/Vx4_Psj1.png" alt="">
                <a target="_blank" mat-line mat-flat-button href="https://www.highcharts.com/">HIGHCHARTS.JS  </a>
              </mat-list-item>
              <mat-list-item mat-list-item>
                <img matListIcon style="width: 40px;height: 40px;"
                src="https://pbs.twimg.com/media/CTjmt3UXIAQxorO.png" alt="">
                <a target="_blank" mat-line mat-flat-button href="https://angular.io/guide/i18n">i18N Internalization  </a>
              </mat-list-item>
            </mat-list>  
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

  </div>
</div>